{{ partial "header.html" . }}

{{ $baseurl := .Site.BaseURL | sanitizeurl }}

<article>

  <header>
    
    <div class="post_preamble">

      <div class="post_title">{{ .Title }}</div>
    
      {{ if not .Params.hideDate }}
        <span class="post_date">
          {{ partial "timestamp.html" . }}
        </span>
      {{ end }}

      {{ range .Params.tags }}
        <span class="post_tags">
          <a href="{{ $baseurl }}/tags/{{ . | urlize }}" class="post_tag">#{{ . }}</a>
        </span>
      {{ end }}

    </div>

  </header>

  <section class="post_body">
    {{ .Content }}
  </section>

</article>

{{ partial "footer.html" . }}
